In [1]:
import polars as pl
import requests
import os
import json
import string
import polars.selectors as cs
from datetime import datetime
from polars.selectors import expand_selector

[2021, 2022, 2023]

23

In [30]:
def get_ca_la_df(year: int):
    years = [2021, 2022, 2023, 2024, 2025]
    
    def remove_numbers(input_string):
        # rename columns
        # Create a translation table that maps each digit to None
        translation_table = str.maketrans("", "", "0123456789")
        # Use the translation table to remove all numbers from the input string
        result_string = input_string.translate(translation_table)
        return result_string

    try:
        assert year in years
        year_suffix = str(year)[2:4]
        url = f'https://services1.arcgis.com/ESMARspQHYMw9BZ9/arcgis/rest/services/LAD{year_suffix}_CAUTH{year_suffix}_EN_LU/FeatureServer/0/query'
        params = {
        "where":"1=1", # maps to True
        "outFields":"*", # all
        "SR":"4326", # WGS84
        "f":"json"
        }

        r = requests.get(url = url, params = params)
        if r.status_code != 200:
            raise Exception(f'API call failed {r.status_code}')
    except AssertionError:
        print(f'API call failed {r.status_code}')
    except:
        print(r.status_code)

    else:
        response = r.json()
        attrs = response.get('features')
        rows = [attr.get('attributes') for attr in attrs]
        ca_la_df = pl.DataFrame(rows).select(pl.exclude('ObjectId'))

        old_names = ca_la_df.columns
        new_names = [remove_numbers(colstring) for colstring in old_names]
        rename_dict = dict(zip(old_names, new_names))

        clean_ca_la_df = (ca_la_df
                        .rename(rename_dict))


        return clean_ca_la_df

In [31]:
ca_la_df = get_ca_la_df(2023)
# ca_la_df.columns

In [33]:
# ca_la_df

In [21]:
chargers_df = pl.read_ods('data/electric-vehicle-charging-device-statistics-july-2023.ods', sheet_name = '1a')

c:\Users\steve.crawshaw\micromamba\envs\ds01\Lib\site-packages\ezodf\tableutils.py:31: SyntaxWarning: invalid escape sequence '\d'
  CELL_ADDRESS = re.compile('^([A-Z]+)(\d+)$')

In [52]:
def rename_string(input_string):
    # Remove newline characters
    cleaned_string = input_string.replace("\n", "")
    
    # Define a translation table for punctuation marks and spaces
    trans_table = str.maketrans(string.punctuation + " ", "_" * (len(string.punctuation) + 1))
    
    # Convert to lowercase and apply the translation table
    output_string = cleaned_string.lower().translate(trans_table)
    
    # Replace consecutive underscores with a single underscore
    output_string = '_'.join(filter(None, output_string.split('_')))
    
    # Remove trailing underscores
    output_string = output_string.rstrip('_')
    
    return output_string

In [48]:
new_names = (chargers_df
 .slice(1, 1)
 .transpose()
 .to_series())

# f = open("data/names.txt", "w")
# f.write(str(list(new_names)))
# f.close()

In [38]:
old_names = chargers_df.columns

In [40]:
rename_dict = dict(zip(old_names, new_names))

In [62]:
mapper = { # dictionary for find and replace to apply in polars expression
    'x' : None
}

In [75]:
chargers_clean_1 = (chargers_df
.rename(mapping=rename_dict)
.slice(2, None) # remove first 2 rows
.select(pl.all().map_alias(lambda col_name: rename_string(col_name))) # use a renaming column to clean_names
.filter(pl.col('local_authority_region_code').is_not_null()) #strip nulls rows
.select(pl.all().map_dict(mapper, default = pl.first())) # turn all x into Null with mapper
 )

In [99]:
lad_code = f'LAD{str(year)[2:4]}CD' # column name depending on year
# have to do a stack here as can't cast strings to floats in place with_columns
chargers_clean = (chargers_clean_1
                    .select(cs.contains('local_authority'))
                    .hstack(chargers_clean_1.select(cs.matches('population|devices')).cast(pl.Float64))
                    .join(ca_la_df, left_on = 'local_authority_region_code', right_on = lad_code)
                    
                    )

In [136]:
chargers_clean.head()

shape: (5, 37)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ local_aut ┆ local_aut ┆ jul_23_to ┆ jul_23_pe ┆ … ┆ oct_19_pe ┆ LAD23NM   ┆ CAUTH23CD ┆ CAUTH23N │
│ hority_re ┆ hority_re ┆ tal_charg ┆ r_100_000 ┆   ┆ r_100_000 ┆ ---       ┆ ---       ┆ M        │
│ gion_code ┆ gion_name ┆ ing_devic ┆ _populati ┆   ┆ _populati ┆ str       ┆ str       ┆ ---      │
│ ---       ┆ ---       ┆ es_no…    ┆ on_no…    ┆   ┆ on        ┆           ┆           ┆ str      │
│ str       ┆ str       ┆ ---       ┆ ---       ┆   ┆ ---       ┆           ┆           ┆          │
│           ┆           ┆ f64       ┆ f64       ┆   ┆ f64       ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ E06000047 ┆ County    ┆ 259.0     ┆ 49.6791   ┆ … ┆ 17.457968 ┆ County    ┆ E47000010 ┆ North    │
│           ┆ Durham    ┆           ┆           ┆   ┆           ┆ Durham    ┆           ┆ East     │
│ E06000005 ┆ Darlingto ┆ 80.0      ┆ 73.922123 ┆ … ┆ 25.336411 ┆ Darlingto ┆ E47000006 ┆ Tees     │
│           ┆ n         ┆           ┆           ┆   ┆           ┆ n         ┆           ┆ Valley   │
│ E06000001 ┆ Hartlepoo ┆ 27.0      ┆ 29.166802 ┆ … ┆ 5.36239   ┆ Hartlepoo ┆ E47000006 ┆ Tees     │
│           ┆ l         ┆           ┆           ┆   ┆           ┆ l         ┆           ┆ Valley   │
│ E06000002 ┆ Middlesbr ┆ 63.0      ┆ 43.830966 ┆ … ┆ 17.787897 ┆ Middlesbr ┆ E47000006 ┆ Tees     │
│           ┆ ough      ┆           ┆           ┆   ┆           ┆ ough      ┆           ┆ Valley   │
│ E06000057 ┆ Northumbe ┆ 280.0     ┆ 87.076048 ┆ … ┆ 43.400338 ┆ Northumbe ┆ E47000011 ┆ North of │
│           ┆ rland     ┆           ┆           ┆   ┆           ┆ rland     ┆           ┆ Tyne     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [150]:
(chargers_clean
#  .pivot(values = ~cs.matches('local_authority|LAD|CAUTH'), columns=['LAD23NM', 'CAUTH23NM'], index='LAD23CD')
#  .select(~cs.matches('local_authority|LAD|CAUTH'))
#  .columns
.melt(id_vars = ['CAUTH23NM', 'CAUTH23CD', 'LAD23NM', 'local_authority_region_code', 'local_authority_region_name'], value_vars=cs.numeric())
# .melt(id_vars=cs.string())
# .melt(value_vars=cs.numeric())
)

TypeError: argument 'value_vars': '_selector_proxy_' object cannot be converted to 'Sequence'

In [147]:
type(cs.expand_selector(chargers_clean, cs.numeric()))

tuple

In [151]:
df = pl.DataFrame(
    {
        "a": ["x", "y", "z"],
        "b": [1, 3, 5],
        "c": [2, 4, 6],
    }
)
df.melt(id_vars="a", value_vars=cs.numeric())

TypeError: argument 'value_vars': '_selector_proxy_' object cannot be converted to 'Sequence'